body.active{
    overflow: hidden;
}
.header{
    padding: 10px 0;
    position: relative;
    background-color: #468D76;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 88px;
    height: 67px;
}
.logo img{
    display: block;
    width: 100%;
    height: 100%;
}
.navigation{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 20px;
    background: #468D76;
    z-index: 9999;
    height: 100vh;
}
.navigation.active{
    display: block;
}
.navigation ul{
    margin-bottom: 20px;
}

.navigation li a{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    display: block;
    padding: 10px 0px;
    font-family:"Sora", sans-serif;
    text-transform: uppercase;
    transition: 0.4s;
}
.navigation li a:hover{
    color: #e5c466;
}
.menu-item.active a{
    color: #e5c466;
}
.navigation li:not(:last-child){
    border-bottom: 1px solid #fff;
}
.number-btn{
    display: flex;
    padding: 21px 35px;
    background-color: #e5c466;
    font-size: 14px;
    color: #fff;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.4s;
}
.number-btn:hover{
    background-color: #fff;
    color: #181a17;
}
.number-btn.mob-number{
    margin-left: auto;
}
.number-btn.desk-number{
    display: none;
}
.phone-icon{
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/phone-icon.svg') no-repeat center;
    background-size: 20px auto;
}
.mob-menu{
    display: flex;
    height: 20px;
    width: 26px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.mob-bar{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: 0.4s;
}
.mob-menu.active .mob-bar:nth-child(2){
    display: none;
}
.mob-menu.active .mob-bar:first-child{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: rotate(45deg);
}
.mob-menu.active .mob-bar:last-child{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: rotate(-45deg);
}
.banner{
    background-color: #468D76;
    position: relative;
}

.banner-slider {
    position: relative;
}
.banner-slide{
    min-height: 225px;
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.banner-slide img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 0 40px 0 40px;
}
.slide-content h1{
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.slick-arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 999;
    text-indent: -9999px;
    display: none !important;
    width: 40px;
    height: 40px;
}
.slick-prev{
    left: 10px;
    background: url('../images/arrow-back.svg') no-repeat center;
    background-size: 40px auto;
}
.slick-next{
    right: 10px;
    background: url('../images/arrow-forward.svg') no-repeat center;
    background-size: 40px auto;
}
.slick-dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}
.slick-dots li button{
    text-indent: -9999px;
}
.slick-dots li{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
}
.slick-dots li.slick-active{
    width: 9px;
    height: 9px;
    background-color: #e5c466;
}
.appointment-form{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.appointment-form .container{
    max-width: 520px;
}
.appointment-form.active{
    display: flex;
}
.form-wrap{
    padding: 40px 20px 20px;
    border: 1px solid rgb(155, 145, 145);
    border-radius: 10px;
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}
.inactive-btn{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}
.inactive-icon{
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/close.svg') no-repeat center;
    background-size: 40px auto;
}

.form-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(67, 63, 65, 0.8);
    z-index: -1;
}
.form-block{
    margin-bottom: 20px;
}
.form-block label{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.form-block input{
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}
.form-block textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    font-size: 16px;
    padding: 10px;
}
.appointment-btn{
    font-size: 16px;
    padding: 8px;
    border: 1px solid #d4d4d4;
    display: block;
    margin-left: auto;
    border-radius: 5px;
    transition: 0.4s;
}
.appointment-btn:hover{
    background-color: #d4d4d4;
}
.banner{
    padding: 30px 0;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
}
.energy{
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-family: 'sora',sans-serif;
    border-radius: 20px;
    margin-bottom: 20px;
}
.main-heading h1{
    font-size: 40px;
    color: #fff;
    font-family: 'sora',sans-serif;
}
.sub-head{
    color: #e5c466;
}
.side-heading h3{
    font-size: 25px;
    color: #fff;
    font-family: 'sora',sans-serif;
    margin-bottom: 10px;
}
.side-heading p{
    font-size: 14px;
    color: #fff;   
    margin-bottom: 10px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.side-heading a{
    color: #e5c466;
    font-size: 13px;
    font-weight: 400;
    display: inline-flex;
    text-transform: uppercase;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.side-heading a::after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background: url('../images/arrow.svg') no-repeat center;
   
}
.yoga-quote{
    padding: 60px 0 30px;
    background-color: #E9F0EC;
}
.yoga-quote .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-wrap{
    width: 90px;
    height: 74px;
    margin-bottom: 20px;
}
.icon-wrap img{
    width: 100%;
    height: 100%;
    display: block;
}
.yoga-text{
    width: 100%;
    max-width: 825px;
}
.yoga-text p{
    font-size: 14px;
    color: #666;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}
.yoga-question{
    display: block;
    font-size: 14px;
    color: #e5c466;
    text-align: center;
    font-weight: 500;
}
.yoga-ways{
    padding: 0 0 50px;
    background: #E9F0EC;
}
.ways-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ways-text h3{
    font-size: 25px;
    color: #181a17;
    font-family: 'sora', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}
.ways-icon{
    width: 60px;
    height: 50px;
    position: relative;
    margin-bottom: 40px;
}
.ways-icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.ways-icon::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto 0;
    width: 141px;
    right: 101%;
    height: 6px;
    border-bottom: 1px solid #468D76;
    border-top: 1px dashed #468D76;
}
.ways-icon::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto 0;
    width: 141px;
    left: 101%;
    height: 6px;
    border-bottom: 1px solid #468D76;
    border-top: 1px dashed #468D76;
}
.yoga-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.yoga-list-block{
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.yoga-list-block h4{
    font-size: 20px;
    font-weight: 600;
    font-family: 'sora',sans-serif;
    color: #468D76;
    margin-bottom: 30px;
    font-weight: 700;
}
.list-image{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #468D76;
}
.list-image img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.list-text{
    font-size: 14px;
    color: #666;
}
.list-text a{
    color: #e5c466;
    font-size: 13px;
    font-weight: 400;
    display: inline-flex;
    text-transform: uppercase;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.list-text a::after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background: url(../images/arrow.svg) no-repeat center;
}
.our-services{
    padding: 60px 0;
    background-color: #468D76;
}
.service-quote{
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 20px;
}
.our-services h3{
    font-size: 25px;
    color: #fff;
    font-family: 'sora', sans-serif;
    margin-bottom: 10px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.view-btn{
    display: inline-block;
    padding: 21px 35px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    transition: all 0.4s;
    margin-bottom: 30px;
    letter-spacing: .65px;
}
.view-btn:hover{
    background-color: #fff;
    color: #468D76;
}
.service-block{
    margin-bottom: 40px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 20px;
}
.service-title{
    font-size: 14px;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.service-title::before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #e5c466;
}
.service-block h2{
    font-size: 30px;
    color: #fff;
    font-family: 'sora',sans-serif;
    margin-bottom: 25px;
}
.service-img{
    height: 350px;
    margin-bottom: 20px;
    position: relative;
}
.service-img img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.anchor-wrap{
    position: absolute;
    bottom: -31px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #468D76;
    z-index: 99;
}
.service-block a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    
}
.anchor-icon{
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/arrow-up.png') no-repeat center;
    background-size: 30px 30px;
}